body {
  margin: 0;
  overflow-x: hidden; 
}

.orders-container{
  margin-top: 25px;
}
.order-card {
  border: none;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.order-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
